@media (max-width:576px){
    .form-main {
        padding: 15px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        button, input {
            margin-top: 15px;
        }
        input {
            text-align: center;
            order: 1;
        }
        button {
            order: 2;
            width: 100%;
        }
    }
}
$primary: #0054B8;
$white: #fff;
.btn-primary {
    background-color: $primary;
    border-color: $primary;
    &:hover, &:focus {
        color: $white;
        background-color: lighten($primary, 5%);
        border-color: lighten($primary, 5%);
    }
}
.btn-outline-primary {
    color: $primary;
    border-color: $primary;
    &:hover, &:focus {
        color: $white;
        background-color: lighten($primary, 5%);
        border-color: lighten($primary, 5%);
    }
}
.btn-link {
    color: $primary;
}