<div class="form-group">
  <div class="form-main form-row form-inline">
      <button class="btn btn-primary ml-1" (click)="onGenerate()">Generate password</button>
      <label for="genPwd" class="ml-1">Password</label>
      <input type="text" id="genPwd" class="form-control ml-2" placeholder="generated password" value="{{password}}" onfocus="this.select();" #passwordElem>
      <button type="button" class="btn btn-outline-primary ml-1" (click)="onCopyToClipboard(passwordElem)">Copy</button>
    </div>

  <div class="accordion my-4" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" [ngClass]="(options.showOptions)?'collapsed':''" type="button" (click)="onToggleOptions()" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Options
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" [ngClass]="(options.showOptions)?'show':''" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <div class="form-row form-inline">
                <label for="pwdLen">Length</label>
                <input type="number" id="pwdLen" class="form-control ml-2" [(ngModel)]="options.length" (keyup)="onUpdateOptions()" (mouseup)="onUpdateOptions()"
                  min="{{options.minLength}}" max="{{options.maxLength}}" size="2">
              </div>
              <div class="form-row form-check">
                <input type="checkbox" id="pwdPunct" [(ngModel)]="options.withPunct" class="form-check-input">
                <label for="pwdPunct" class="form-check-label">Include punctuation (!, -, _, :, ; and so on)</label>
              </div>
            
              <div class="form-row form-check">
                <input type="checkbox" id="pwdNoProgramSyntax" [(ngModel)]="options.noProgramSyntax" class="form-check-input">
                <label for="pwdNoProgramSyntax" class="form-check-label">Avoid punctuation used in programming (`,$, &, ?, @, #, &lt;,
                  &gt;, &#40;, &#41;, &#123;, &#125;, &#91;, &#93;, /, \)</label>
              </div>
            
              <div class="form-row form-check">
                <input type="checkbox" id="pwdNoSimilar" [(ngModel)]="options.noSimilar" class="form-check-input">
                <label for="pwdNoSimilar" class="form-check-label">Avoid similar characters (1, i, I, l, L), and (0, o, O)</label>
              </div>
              
            <button type="button" class="btn btn-outline-primary my-2" (click)="onSaveOptions()">Save options</button>
          </div>
      </div>
    </div>
  </div>
</div>