body {
    font-family: sans-serif;
    font-size: 1rem;
}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.form-check {
    position: relative;
    display: block;
  }
  
  .form-check-input {
    position: absolute;
  }
  
  .form-check-label {
    margin-bottom: 0; // Override default `<label>` bottom margin
  }
  
  .form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0; // Override base .form-check
  }
  .accordion .card:first-of-type {
    border-bottom: 1px solid rgba(0,0,0,.125);
  }